
#background
{
	background: url('../Images/tiles/bgimg.png');
	background-repeat:repeat;
	background-attachment:fixed;
}


#menu
{
	position:absolute;
	top:20px;
	left:3%;
	width:94%;
	height:20px;
	z-index:1;
}

#mygame
{
	position:absolute;
	top:70px;
	left:3%;
	width:70%;
	height:200px;
	z-index:1;
}

#content
{
	position:absolute;
	left:3%;
	width:70%;
	top:170px;
	z-index:1;
}

#info
{
	position:absolute;
	top:70px;
	left:73%;
	width:24%;
	height:100%;
	z-index:1;
}

/* Override post styles for the menu */

#menu .post
{
	font-size:10pt;
	margin:10px 10px 10px 10px;
	padding:5px;
	text-align:justify;
}

#menu .post a
{
	font-weight:bold;
	text-decoration:none;
	color:#000;
	padding:10px;
	margin:10px;
	border-radius:10px;
	border: 1px solid transparent;
	
	transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-webkit-transition-duration:0.2s;
	-o-transition-duration:0.2s;
}

#menu .post a:hover
{
	background:#FFF;
	border: 1px solid #AAA;
}

#mygame .post
{
	padding:3px;
	border:#777 solid 1px;
}
